@page "/"

<h1>Blazor Pretty Code Server Side Test</h1>

<PrettyCode CodeFile="https://raw.githubusercontent.com/chanan/BlazorStyled/master/src/Sample/Pages/Basic.razor"
            CodeFileLineNumbers="2,12"
            CodeSectionFileLineNumbers="43,46-49" />
