@inherits LayoutComponentBase
@inject IStyled Styled
@inject IMixins Mixins

<div class="@main">
    @Body
</div>

@functions {
    private string main;

    protected override async Task OnInitAsync()
    {
        main = await Styled.Css(@"
            max-width: 1200px;
            margin: 0 auto;
        ");
    }
}