@page "/"

<h1>Blazor Pretty Code</h1>

<p>The PrettyCode comoponent is a Blazor component that is meant to be used by Blazor developers to format CSHTML for their documentation site.</p>

<p><b>This is a work in progress!</b></p>

<h2>Features</h2>

<ul>
    <li>Format and display HTML</li>
    <li>Format and display CSHTML (not done)</li>
    <li>Theme support (in progress)</li>
    <li>Line numbering (not done)</li>
    <li>Copy button (not done)</li>
    <li>Collapse (not done)</li>
</ul>

<h2>Dependent projects</h2>
<ul>
    <li><a href="https://github.com/chanan/CSHTMLTokenizer">CSHTMLTokenizer</a> is used to convert CSHTML into tokens for display</li>
    <li><a href="https://chanan.github.io/Blazorous/">Blazorous</a> is used to create the pretty code and theming</li>
</ul>

<h2>Demo</h2>

<PrettyCode CodeFile="snippets/demo.html" />

<h2>CSHtml</h2>

<h3>CSHtml in Attributes</h3>

<PrettyCode CodeFile="snippets/demoAttributes.html" />

<h3>CSHtml Snippets</h3>

<p>Work in progress!</p>

<PrettyCode CodeFile="snippets/demoSnippet.html" />

<h2>Themes</h2>

<p>In progress (In the snippet above you an see that it is rendered using Fira Code, look at the => symbol)</p>

<div class="text-center">
    <a href="https://github.com/chanan/BlazorPrettyCode"><img src="https://img.shields.io/github/stars/chanan/BlazorPrettyCode.svg?style=social&label=Stars" /></a>
</div>

