@page "/"

<h1>Blazor Pretty Code</h1>

<p>The PrettyCode comoponent is a Blazor component that is meant to be used by Blazor developers to format CSHTML for their documentation site.</p>

<p><b>This is a work in progress!</b></p>

<h2>Features</h2>

<ul>
    <li>Format and display of HTML</li>
    <li>Basic formating and display of Razor files</li>
    <li>Theme support</li>
    <li>Line numbering</li>
</ul>

<h2>Coming soon</h2>

<ul>
    <li>Enhanced support for C# code</li>
    <li>Themes in JSON files</li>
    <li>Collapse/Exapnd of code blocks</li>
    <li>Row highlighting</li>
</ul>

<h2>Dependent projects</h2>
<ul>
    <li><a href="https://github.com/chanan/CSHTMLTokenizer">CSHTMLTokenizer</a> is used to convert Razor syntax into tokens</li>
    <li><a href="https://chanan.github.io/BlazorStyled/">BlazorStyled</a> is used to create the pretty code and theming</li>
</ul>

<h2>Usage</h2>

<h2>Demo</h2>

<PrettyCode CodeFile="snippets/demo.html" />

<h3>Razor Syntax</h3>

<h4>Razor in Attributes</h4>

<PrettyCode CodeFile="snippets/demoAttributes.html" />

<h4>Razor Snippets</h4>

<PrettyCode CodeFile="snippets/demoSnippet.html" />

<h2>Line Numbers</h2>

<p>Line numbers can be turned on and off globally or on a per basis on the componenet level:</p>

<PrettyCode CodeFile="snippets/demo.html" ShowLineNumbers="false" />

<h2>Themes</h2>

<p>
    Themes are defined as classes that implements <code>BlazorPrettyCode.Themes.ICodeThemes</code> and default to <code>BlazorPrettyCode.Themes.PrettyCodeDefault</code> which can be
    overridden by passing class to Theme attribute of <code>PrettyCode</code>. In the future themes will also be able to be defiened in json. Below is a PrettyCode block using the theme
    <code>VisualStudioSolarizedLight</code>:
</p>

<PrettyCode CodeFile="snippets/usingThemes.html" Theme="@(new BlazorPrettyCode.Themes.VisualStudioSolarizedLight())" />

<div class="text-center">
    <a href="https://github.com/chanan/BlazorPrettyCode"><img src="https://img.shields.io/github/stars/chanan/BlazorPrettyCode.svg?style=social&label=Stars" /></a>
</div>

