@page "/"

<h1>Blazor Pretty Code</h1>

<p>The PrettyCode comoponent is a Blazor component that is meant to be used by Blazor developers to format CSHTML for their documentation site.</p>

<p><b>This is a work in progress!</b></p>

<h2>Features</h2>

<ul>
    <li>Format and display of HTML</li>
    <li>Basic formating and display of Razor files</li>
    <li>Theme support</li>
    <li>Line numbering</li>
    <li>Row highlighting</li>
    <li>Collapse/Exapnd of code blocks</li>
</ul>

<h2>Coming soon</h2>

<ul>
    <li>Enhanced support for C# code</li>
    
</ul>

<h2>Dependent projects</h2>
<ul>
    <li><a href="https://github.com/chanan/CSHTMLTokenizer">CSHTMLTokenizer</a> is used to convert Razor syntax into tokens</li>
    <li><a href="https://chanan.github.io/BlazorStyled/">BlazorStyled</a> is used to create the pretty code and theming</li>
</ul>

<h2>Usage</h2>

<p>Install: <a href="https://www.nuget.org/packages/BlazorPrettyCode/"><img src="https://img.shields.io/nuget/vpre/BlazorPrettyCode.svg" /></a></p>
<p>Initialize <code>BlazorPrettyCode</code> in your <code>Startup.cs</code>: <code>services.AddBlazorPrettyCode();</code>. You may also set defaults:</p>

<PrettyCode CodeFile="snippets/startup.html" />

<p>In your Blazor component or in <code>_imports.razor</code> import the component: <code>@@using BlazorPrettyCode</code> and add it to your page:</p>

<PrettyCode CodeFile="snippets/usingSimple.html" />

<h3>Server Side Support</h3>

<p>Blazor Pretty Code works in Server Side as well. The only change is that <code>&lt;script src="_content/BlazorStyled/styled.js">&lt;/script></code> needs to be added to your
    <code>_Host.cshtml</code> file.</p>

<h2>Demo</h2>

<PrettyCode CodeFile="snippets/demo.html" />

<h3>Razor Syntax</h3>

<h4>Razor in Attributes</h4>

<PrettyCode CodeFile="snippets/demoAttributes.html" />

<h4>Razor Snippets</h4>

<PrettyCode CodeFile="snippets/demoSnippet.html" />

<h4>Razor Plus Code Section</h4>

<p>The example below loads the code in two parts (<code>CodeFile</code> and <code>CodeSectionFile</code>) and uses line numbers to select the relevant parrs. 
    When <code>CodeSectionFile</code> is not wrapped by <code>@@code { }</code> it will automatically wrapped. 
    If <code>CodeSectionFile</code> is empty, but <code>CodeSectionFileLineNumbers</code> is not, it is assumed that the code section is in the same file as <code>CodeFile</code>).
    For example, the below section:
    </p>

<PrettyCode
            CodeFile="https://raw.githubusercontent.com/chanan/BlazorStyled/master/src/Sample/Pages/Basic.razor"
            CodeFileLineNumbers="2,12"
            CodeSectionFileLineNumbers="43,46-49"
 />

<p>is created by:</p>

<PrettyCode CodeFile="snippets/githubSnippet.html" />

<h2>Line Numbers</h2>

<p>Line numbers can be turned on and off globally or on a per basis on the componenet level:</p>

<PrettyCode CodeFile="snippets/demo.html" ShowLineNumbers="false" />

<h2>Row Highlighting</h2>

<p>
    You can supply row numbers to <code>HighlightLines</code> parameter to highlight some rows. <code>ShowLineNumbers</code> must also be set to true to see the highlights.
    You can pass several numbers as well as a range as in the example below:
</p>

<PrettyCode CodeFile="snippets/highlights.html" HighlightLines="1,3-5" />

<h2>Titles</h2>

<PrettyCode CodeFile="snippets/titleExample.html" Title="Title Example" />

<h2>Expand / Collapse</h2>

<PrettyCode CodeFile="snippets/collapseExample.html" Title="Collapse Example" ShowCollapse="true" IsCollapsed="true" />

<p>
    You can also set all snippets to have a collapse link by setting <code>DefaultSettings.ShowCollapse</code> to <code>true</code>.
    If you want all snippets to be collapsed by default you can set <code>DefaultSettings.IsCollapsed</code> to <code>true</code>.
</p>

<h2>Themes</h2>

<p>
    Themes are defined in json and default to <code>content/PrettyCodeDefault</code> which can be
    overridden by passing class to Theme attribute of <code>PrettyCode</code>. Below is a PrettyCode block using the theme
    <code>SolarizedLight</code>:
</p>

<PrettyCode CodeFile="snippets/usingThemes.html" Theme="SolarizedLight" />

<p>The builtin themes you can use are:</p>

<ul>
    <li>PrettyCodeDefault</li>
    <li>SolarizedLight</li>
    <li>SolarizedDark</li>
</ul>

<p>You may also create your own theme json file and supply a uri to the <code>Theme</code> parameter.</p>

<h2>Parse Errors</h2>

<p>
    By default, parsing errors will appear in the code box. Setting <code>ShowException</code> to <code>false</code> on the component or on <code>DefaultSettings</code> will supress the display of exceptions
    in the component (they will still appear in the browser console).
</p>

<PrettyCode CodeFile="snippets/badHtml.html" />

<div class="text-center">
    <a href="https://github.com/chanan/BlazorPrettyCode"><img src="https://img.shields.io/github/stars/chanan/BlazorPrettyCode.svg?style=social&label=Stars" /></a>
</div>