@page "/test"

<h3>Test</h3>

<PrettyCode CodeFile="https://raw.githubusercontent.com/chanan/BlazorStyled/master/src/Sample/Shared/NavMenu.razor" CodeFileLineNumbers="16-18" CodeSectionFileLineNumbers="59,61,62,69-94" />
