@inherits LayoutComponentBase

<Typography IncludeNormalize="true" />

<Styled @bind-Classname="@main">
    max-width: 1200px;
    margin: 0 auto;
</Styled>

<div class="@main">
    @Body
</div>

@code {
    private string main;
}