@inherits LayoutComponentBase
@inject ITypography Typography

<Styled @bind-Classname="@main">
    max-width: 1200px;
    margin: 0 auto;
</Styled>

<div class="@main">
    @Body
</div>

@functions {
    private string main;

    protected override void OnInit()
    {
        DefaultTypographyOptions defaultTheme = new DefaultTypographyOptions();
        Typography.ApplyTypography(defaultTheme);
    }
}